main {
  min-height: 80vh;
}
a {
  text-decoration: none;
  color: black;
}

h1 {
  padding: 1rem;
  font-size: 2rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

@media (max-width: 900px) {
  .orderScreen_orderId {
    font-size: 18px;
  }
}

.MainLoader {
  width: 500px;
  height: 500px;
  margin: auto;
  display: block;
}

@media (max-width: 900px) {
  .MainLoader {
    width: 200px;
    height: 250px;
    margin: auto;
    display: block;
  }
}
/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f0ad4e; 
}